body{
    background:pink;
    color: #FFDBE9;
    margin: 100px;
}
p{
    color: #000000;
}
.center{
    font-weight: 900;
    text-align: center;
    color: black;
}
.left{
    text-align: left;
    color: black;
}
.middle{
    text-align: center;
    color: black;
}
.right{
    text-align: right;
    color: black;
}
img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}
.rank{
  color:#8c2645
}
.title{
  color:#c93b66
}
.author{
  color:#db7b98
}
.header{
  color:#6c1d35
}